@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body{
    font-family: 'Jua', sans-serif;
    background: linear-gradient(135deg,#6dbee7,#ad50d8);
    background-attachment: fixed;
}
.content{
    margin: 10%;
    background-color: white;
    padding: 4rem 1rem 4rem 1rem;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}
h3{
    font-size: 40px;
    font-weight: 400;
}
.form{
    display: block;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5;
    border-color: #6dbee7;
    border-style:solid ;
    border-width: 0 0 3px 0;
    padding: 0px;
}
.btn{
    background:#6dbee7;
    color: white;
}